/*!
 * UWA v0.2
 * Copyright 2015 Update Soluções
 */
table td { vertical-align: middle !important; } /* fix-bootstrap */

.module-title { margin-bottom: 30px; }

.main {
  margin-top: 40px;
  padding: 20px;
}

.sidebar {
  background-color: #333333;
  border-right: 1px solid #eee
  bottom: 0;
  display: block;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 20px 0 0;
  position: fixed;
  top: 50px;
  z-index: 1000;
}

.wrap-image {
  position: relative;
  max-width: 200px;
}

.uwa-images {
  position: relative;
  overflow: hidden;
}

.uwa-images ul {
  display: block;
  list-style: none;
  overflow: hidden;
  padding: 10px 0 0;
  margin-bottom: 20px;
}

.uwa-images li {
  background: #eee;
  border: 1px solid #ccc;
  float: left;
  height: 115px;
  line-height: 115px;
  margin: 0 1% 10px;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 31.33333333%;
}

.uwa-images img {
  display: inline-block;
  vertical-align: middle;
}

.uwa-images .fa {
  color: #c00;
  position: absolute;
  top: 0;
  left: 0;
}

@media (min-width: 592px) {
  .uwa-images li {
    width: 23%;
  }
}

@media (min-width: 768px) {
  .uwa-images li {
    width: 18%;
  }
}

@media (min-width: 992px) {
  .uwa-images li {
    width: 14.66666667%;
  }
}

@media (min-width: 1200px) {
  .uwa-images li {
    width: 10.5%;
  }
}

.margin-bottom-45 { margin-bottom: 45px; }

.btn-margin-bottom { margin-bottom: 10px; }
.btn-margin-left { margin-left: 10px; }

.label-fix {
  position: relative;
  top: -4px;
}

.actions form { display: inline-block; }

.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}
input[readonly] {
  background-color: white !important;
  cursor: text !important;
}

div.required > label::after {
  color: #c00;
  content: " *";
}

.tab-pane {
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  margin-bottom: 18px;
  padding: 18px 18px 0;
}

.dropzone {
  min-height: 300px;
}

.dropzone .dz-message {
  height: 20px;
  margin: -10px 0 0;
  padding: 0;
  position: absolute;
  top: 50%;
  width: 100%;
}

.image-preview-wrap {
  display: inline-block;
  height: 246px;
  margin-top: 20px;
  position: relative;
  width: 100%;
}

.image-preview {
  display: inline-block;
  max-height: 246px;
  max-width: 100%;
}